*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    min-width: 349px;
    background-color: #F9FAFB;
}

.nav{
    height: 80px;
    width: 100%;
    display: flex;
    background-color: #111827;
    justify-content: space-around;
    align-items: center;
}

.nav-ul{
    width: 300px;
    justify-content: space-between;
    display: flex;
    list-style: none;
}

.nav-ul a{
   color: white;
   list-style: none;
   text-decoration: none;
   font-weight: 500;
   font-size: 1rem;
}

.button-login{
    background-color: #111827;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ICONO */
.material-symbols-outlined{
    color: white;
    display: none;

}

/* FIN DEL NAV */

/* INICIO DEL MAIN */

.main-section{
    margin-bottom: 20px;
    background-color: #111827;
    /* height: 100vh; */
    display: grid;
    grid-template-columns: 50% 50%;
    /* height: calc(100vh - 80px);  */
    
}

.section-left{
   padding: 40px 30px 20px 30px;
   padding-bottom: 60px;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
   height: 100vh;

}

.section-right{
  padding: 20px 0 20px 20px;
  height: 100vh;
  grid-column: 2/3;
  margin: 0;
}

.section-right-img img{
  width: 100%;
  height: 100%;
  
}

.button-ofertas{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: none;
    border-radius: 40px;
    color: white;
    background-color: black;
    padding: 0 18px;
    max-width: 370px;
}

.button-ofertas .ofertas{
  font-weight: 600;
  margin-right: 30px;
  font-size: 0.8rem;
}


.arrow{
    display: inline;
}

h1{
    color: white;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 90%;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 50px;
 
}

.section-left p{
    color: rgb(219, 214, 214);
}

.eslogan-1{
    margin: 30px 0;
}

.form-container{
  display: flex;
  width: 100%;
  gap: 20px;

}

.input-text{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
}


.input-button{
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-weight: 600;
    background-color: #369BA8;
    color: white;
    width: 100px;

}

.p-terminos{
    margin-top: 10px;
    font-size: 0.8rem;
}

.p-terminos span{
    font-weight: bold;
}

/* Seccion de la imagen */
  .section-right-img{
    z-index: 10;
    background-image: url("../img/foto-main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }


/* SEGUNDA SECCION *******************************************/
  .second-section{
    background-color: #F9FAFB;
    width: 100%;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    display: grid;
    grid-template-rows: 10% 90%;

  }

  

  .titles-second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titles-second-section .title-second-section{
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.5;
    font-size: 1rem;
  }

  .titles-second-section .subtitle-second-section{
    font-weight: 800;
    color: #111827;
    line-height: 2rem;
    font-size: 1.8rem;
    text-align: center;
  }
  
  .titles-second-section .text-second-section{
    color: #8f8b8b;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1.2rem;
  }
  
  .flex-card-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
  }

  .card{
    border-radius: 10px;
    margin-top: 2.5rem;
    max-width: 420px; 
    height: 500px;
    display: flex;
    box-shadow: 0px 7px 16px -4px rgba(0,0,0,0.75);
  }


  .card-image{
    border-radius: 10px 10px 0 0;
    min-height: 180px;
    background-image: url("../img/galeria-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  

  .card-description{
    padding: 24px;
  }
  
  .card-text-container{
    margin-bottom: 1rem;
  }

  .nueva{
    font-weight: 600;
    margin-bottom: 15px;
  }

  .card-a{
    text-decoration: none;
    color: #8f8b8b;
  }

  .card-title{
    color: rgb(17,24,39);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .card-text{
    line-height: 1.5rem;
  }

  .card-user{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

 /* Estilos para el usuario */

  .user-image{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: black;
  }
  
  .user-name{
    font-weight: 600;
  }
  
  .user-date{
    color: gray;
  }
  
/* Imagenes de los usuarios */
  .user1{
    background-image: url("../img/perfil-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .user2{
    background-image: url("../img/perfil-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* TERCERA SECCION ******************************************/
  
  .third-section{
    margin-top: 40px;
    background-color: #111827;
  }

  .third-section-image{
    width: 100%;
    min-height: 200px;
    background-image: url("../img/ultima-seccion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }


  .third-section-text-container{
     padding: 40px 20px 20px 20px;
     color: white;
  }

  .third-section-title{
    font-weight: 600;
    line-height: 1.8rem;
    color: #c2bdbd;
    
  }

  .third-section-h2{
    line-height: 2rem;
    font-weight: 800;
    font-size: 1.9rem;
    margin-top: 1rem;
  }

  .third-section-text{
    margin-top: 1rem;
    line-height: 1.6rem;
    color: #c2bdbd;
  }

  .third-button-container{
    width: 100%;
    height: auto;
    margin-top: 1.7rem;
    margin-bottom: 20px;
  }

  .third-section-button{
    border: none;
    border-radius: 5px;
    line-height: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 13rem;
    font-weight: 600;
    font-size: 0.95rem;
    color: #504e4e;
  }

  /* Footer */
   
  .footer-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    padding: 20px 20px 0 20px;
    width: 100%;
    height: 500px;
  }

  

  .icons-container{
    grid-column: 1/3 ;
    height: 100px;
    
  }

  .icons{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
  }

  .area-nosotros{
    grid-column: 2/3;
    grid-row: 2/4;
  }

  .footer-sub{
     color: #504e4e;
     font-weight: 600;
  }

  .footer-section{
    margin-top: 10px;
    gap: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #504e4e;
  }

  .footer-copyright-container{
    grid-row: 4/5;
    grid-column: 1/3;
    width: 100%;
    height: 150px;
  }

  .footer-copyright{
    color: #8f8b8b;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }






@media only screen and (min-width: 1300px){
  .third-section{
    display: flex;
  }


}

@media only screen and (max-width: 1100px){
  
  .section-right{
    padding: 20px 0 0 20px;
  }
  .section-left{
    padding: 0 30px 0px 30px;
  }
  .second-section{
    display: grid;
    justify-items: center;

  }



}



@media only screen and (max-width: 900px){
    
    .main-section{
      display: block;
      height: auto;
    }
   
    .nav{
       justify-content: flex-end;  
    }
    
    .section-left{
        height: 500px;
    }
    

    .burger{
        display: block;
        float: right;
        margin-right: 30px; 
        font-size: 30px;
    }

    .nav-ul, .button-login {
        display: none;
    }
    
    

    h1{
        color: white;
        font-size: 36px;
        font-weight: 900;
        line-height: 90%;
        text-align: left;
        margin-top: 20px;
     
    }

    .form-container{
       display: flex;
       flex-direction: column;
       width: 100%;
       height: auto;
       gap: 10px;
    
    }

   .section-right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 230px;
    padding-left: 20px;
    padding-right: 20px;
   }
    
   .section-right-img{
     width: 100%;
     height: 180px;
   }

   .second-section{
       flex-direction: column;
       align-items: center;
       width: 100%; 
   }

} 

@media only screen and (min-width: 350px){

   h1{
     font-size: 2.5rem;
   } 

   .main-section{
    padding: 20px 20px 0 20px;
   }

   .main-section button{
    width: 100%;
   }
}